/*font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;*/

h1, h2, h3, h4, h5, h6 {
  color: #337ab7;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header.jumbotron {
  position: relative;
  overflow: hidden;
  background-color: rgba(51, 122, 183, 1.0);
}

header.jumbotron img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.15;
}

header.jumbotron h1 {
  padding: 0px;
  position: relative;
  z-index: 2;
  color: #d7e6f4;
}

header.jumbotron h3{
  padding: 0px;
  position: relative;
  z-index: 2;
  color: #afcee9;
}

.main {
  margin-left: 6.5rem;
  margin-bottom: 3rem;
}

address {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  /*font-style: italic;*/
}

ul li {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

ul ul li em {
  font-weight: 400;
}

figure {
  margin: 2rem 1rem 3rem 0rem;
}

figure img {
  width: 100%;
  margin-bottom: 1.5rem;
}

figcaption {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  font-style: italic;
}

blockquote {
  border-left: 5px solid #d7e6f4;
  font-family: 'Roboto Slab', serif;
  font-weight: 500i;
  font-style: italic;
  font-size: 2.5rem;
  color: #337ab7;
}

blockquote i {
  color: #afcee9;
}

.continued {
  font-family: inherit;
  font-weight: 500;
  color: #337ab7;
}

button.tablinks {
  background-color: #d7e6f4;
  color: #337ab7;
}

/*button.tablinks a:hover {
  color: #d7e6f4;
}*/

#page1, #page2, #page3 {
  display: none;
}

footer {
  padding: 5rem 0rem 5rem 6.5rem;
  background-color: #337ab7;
  color: #fff;
}
