h1, h2, h3, h4, h5, h6 {
  color: #337ab7;
}

header.jumbotron {
  position: relative;
  overflow: hidden;
  background-color: rgba(51, 122, 183, 1.0);
}

header.jumbotron img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.15;
}

header.jumbotron h1 {
  padding: 0px;
  position: relative;
  z-index: 2;
  color: #d7e6f4;
}

header.jumbotron h3{
  padding: 0px;
  position: relative;
  z-index: 2;
  color: #afcee9;
}

.main {
  margin-left: 6.5rem;
}

figure {
  margin: 2rem 1rem 3rem 0rem;
}

figure img {
  width: 100%;
  margin-bottom: 15px;
}

figcaption {
  text-align: center;
  font-style: italic;
}

blockquote {
  border-left: 5px solid #d7e6f4;
  font-style: italic;
  font-size: 2.5rem;
  color: #337ab7;
}

blockquote i {
  color: #afcee9;
}

button.tablinks {
  background-color: #d7e6f4;
  color: #337ab7;
}

/*button.tablinks a:hover {
  color: #d7e6f4;
}*/

#page1, #page2, #page3 {
  display: none;
}
